<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="columns">
    <div class="column is-4">
      <div class="field">
        <%= form.text_field :name, class:'input is-small list-name-input' %>
      </div>
    </div>
    <div class="column is-4">
      <div class="actions">
        <%= form.submit '更新名稱', class:'button is-small' %>
        <%= link_to '刪除這個list', list_path(@list),method: :delete, class:'button is-small hover-transparent', data: {confirm:"確定要刪除這個List嗎？"} %>
      </div>
    </div>
  </div>


<% end %>

